* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Times New Roman', serif;
    box-sizing: border-box;
}

:root{
    --b: black;
}

.head{
    display: flex;
    background-image: url(img/banner-home-informatica-1163x500.jpg);
    height: 8rem;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.head h1{
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px black;
}

.opcoes{
    height: 2.8rem;
    background-color: hotpink; 
   
}

.opcoes ul{
        display: flex;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        height: 2.5rem;
        font-size: 1.8rem;
        list-style-type: none;
}

.opcoes ul li a{
    color:#fff;
    
    text-decoration: none;
}

.texto01{
    padding: 15px;
    font-size: 1.3rem;
}

main{
    
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 13.6rem);
}

.main{
    padding-top: 4rem;
    align-items: center;
}

main div{
    max-width: 75%;
}

.texto02{
    padding: 15px;
    font-size: 1.3rem;
   
}

.texto02 ol li{
    list-style-type: upper-roman;

}

.texto03{
    padding: 16px;
    font-size: 1.3rem;

}

.texto03 ul li{
    list-style-type: square;
    padding-top: 1.3rem;
}

footer{
    height: 2.8rem;
    background-color: hotpink; 
   
}

footer p{
    font-size: 1.5rem;
    color: #fff;
   
   
}

.tabela{
    align-items: center;
}

.tabela table{
    border-collapse: collapse;
    width: 70%;
    height:70%;
    font-size: larger;
}

.tabela table tr td, .tabela table tr th{
    border: 0.1rem solid black;
    margin: 0rem;
    padding: 0.5rem;
    text-align: center;
}

.tabelas .itens{
    text-align: left;
    padding: 1rem;
}

.questoes{
    height: 100vh;
}

.faq{
    flex-direction: column;
}

.questoes, .respostas li{
    margin: 7%;
    padding: 7%;
    font-size: larger;
    color: var(--b)
}

.questoes ol li a{
   text-decoration: none;
   font-size: larger;
   color: var(--b);
}

.respostas li a{
    text-decoration: none;
    color: var(--b);
} 

.cnt{
    align-items: center;
}

.cnt section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cnt section fieldset{
    width: 80%;
    height: 80%;
}

.cnt section fieldset form div{
    padding: 1rem;
}

.cnt section fieldset form div label{
    font-size: larger;
}

.cnt section fieldset legend{
    font-size: larger;
}

.radio{
    display: flex;
    flex-direction: row;
}

.radio{
    display: flex;
    flex-direction: row;
}









